.main .page {
  display: block;
  flex: 1 0 0;
  padding: 3px 20px 20px;
  font-family: $font-serif;
  line-height: 1.25;
  font-size: 16px;
}

.main .page h1 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 92px;
  margin: 0;
  color: $color-blue;
}

.main .page strong a {
  color: $color-red;
}
.main .page strong a:hover {
  color: $color-blue;
}
.main .page a:hover {
  color: $color-red;
}

