.song {
  flex-flow: column;
  padding: 40px 20px;
}

.song-day {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 1em;
}

.song-artist {
  text-transform: uppercase;
  font-weight: 800;
  color: $color-red;
  font-size: 64px;
  margin: 0;
}

.song-title {
  font-weight: 800;
  color: $color-blue;
  font-size: 64px;
  margin: 0;
}
.song-title::before {
  content: '“';
}
.song-title::after {
  content: '”';
}


.song-info {
  align-items: flex-start;
}

.song-info-col1 {
  flex: 0 0 300px;
  flex-flow: column;
  margin-right: 20px;
}
.song-image {
  width: 300px;
}
.song-bio {
  
}

.song-info-col2 {
  flex: 1 0 0;
  flex-flow: column;
  font-family: serif;
}
.song-quote {
  font-style: italic;
  margin-bottom: 20px;
}
.song-quote::before {
  content: '“';
}
.song-quote::after {
  content: '”';
}

.song-lyrics-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: red;
}
.song-lyrics {
  white-space: pre-wrap;
}

