.splash-wrapper {
  flex: 1 0 0;
  flex-flow: column;
  max-width: 900px;
}

.splash {
  flex: 1 0 auto;
  flex-flow: column;
  max-width: 900px;
}

.splash-header {
  display: inherit;
  align-self: stretch;
  justify-content: center;
}

.splash-header-quote {
  display: block;
  position: absolute;
  left: 50%;
  top: 35px;
  margin-left: -43px;
  text-align: center;
  font-family: $font-subtitle;
  font-size: 22px;
  color: $color-red;
}
.splash-header-quote .quote {
  font-style: italic;
}

.splash-links {
  position: relative;
  top: 70px;
  top: 110px;
  left: 182px;
  flex: 1 0 0;
  flex-flow: row wrap;
  max-width: 860px;
  max-width: 450px;
  justify-content: space-between;
  padding: 20px 20px 0;
  padding: 20px 0 0;
  color: $color-blue;
  font-family: $font-title;
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 3px;
}

.splash-links a:hover {
  color: $color-red;
}

/*
.splash-link-about {
  position: relative;
  left: 19px;
}
.splash-link-register {
  position: relative;
  left: 56px;
}
.splash-link-masthead {
  position: relative;
  right: 74px;
}
*/

.splash-header-social {
  position: absolute;
  top: 10px;
  right: 0;
}

.splash-header-social-link:hover .social-use-icon {
  fill: $color-red;
}

.splash-logo {
  flex: 0 0 auto;
  margin: -30px 20px 20px;
}

.splash-social {
  margin: 20px 0 40px;
  padding: 0 20px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.splash-social-link {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 10px;
  background: #efefef;
  cursor: pointer;
  font-weight: bold;
  color: $color-blue;
  letter-spacing: 3px;
}
.splash-social-link:hover {
  color: $color-red;
}
.splash-social-link:hover .social-use-icon {
  fill: $color-red;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.6em;
}
.social-icon.facebook {
  height: 18px;
}

.social-use-icon {
  fill: $color-blue;
}

.splash-songs {
  display: inherit;
  align-self: center;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.splash-song {
  display: inherit;
  width: 410px;
  margin: 0 20px 20px;
}

.splash-song-item {
  display: inherit;
  flex: 1 0 0;
  align-items: flex-start;
}

.splash-song-number {
  font-family: $font-title;
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  color: $color-blue;
}

.splash-song-info {
  margin: 0 20px;
  flex: 1 0 0;
  flex-flow: column;
}

.splash-song-title, .splash-song-artist {
  font-family: $font-serif;
  font-size: 24px;
  font-weight: bold;
}

.splash-song-artist {
  color: $color-red;
}

.splash-song-title {
  font-style: italic;
  color: $color-blue;
}
.splash-song-title::before {
  content: '“';
}
.splash-song-title::after {
  content: '”';
}

.splash-song-arrow {
  width: 28px;
  height: 68px;
  background: no-repeat;
  background-image: url(../images/arrow-back.svg), url(../images/arrow-back-star.svg);
  background-position: center, -1000px;
  background-size: contain;
}
.splash-song:hover .splash-song-arrow {
  background-image: url(../images/arrow-back-star.svg);
}

@media(max-width: 900px) {
  .splash-header-social {
    display: none;
  }
  .splash-header-quote {
    display: none;
  }
  .splash-links {
    position: static;
    padding: 20px 20px 0;
    max-width: 860px;
  }
  .splash-links a {
    position: static;
  }
  .splash-logo {
    margin-top: 20px;
  }
  .splash-social {
    margin: 0 0 20px;
  }
  .splash-social-link {
    background: none !important;
    padding: 0;
  }
  .splash-social-link svg {
    margin: 0;
  }
  .splash-social-link span {
    display: none;
  }
  .splash-songs {
    flex-flow: column;
    align-items: stretch;
    max-width: 400px;
  }
  .splash-song {
    margin: 0 20px 20px;
    width: initial;
  }
}

@media(max-width: 400px) {
  .splash-songs {
    align-self: stretch;
  }
}

@media(max-width: 360px) {
  .splash-links {
    flex-flow: column;
    line-height: 1.2;
  }
}

