// Override Bootstrap variables in this file, e.g.

// FONTS
// Font Sizes
$font-size-base: 14px;

// Font Families
$font-sans: 'Helvetica Neue', Arial, sans-serif;
$font-serif: Georgia, serif;
$font-default: $font-sans;

// Colors
$color-red: #EF4123;
$color-blue: #00344D;
$color-yellow: #FFC20E;

