@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

.main {
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 0;
  font-family: 'Helvetica Neue', sans-serif; }

.main div {
  display: inherit; }

.main-wrapper {
  max-width: 1000px;
  min-width: 0;
  flex: 1 0 0;
  justify-content: space-between; }

.main-content {
  flex: 2 0 0;
  min-width: 0; }

nav.main-nav {
  display: flex;
  flex: 1 0 0;
  flex-flow: column;
  max-width: 340px;
  min-width: 240px;
  margin: 20px 20px; }

.nav-logo-img {
  margin-bottom: 20px; }

.nav-logo {
  height: 466px;
  width: 340px;
  margin-bottom: 20px;
  background: url(/images/logo.svg);
  background-size: 100%; }

.nav-logo-simple {
  height: 242px;
  width: 340px;
  margin-bottom: 20px;
  background: url(/images/logo-simple.svg);
  background-size: 100%; }

.nav-dot {
  margin: 0 10px; }

.nav-links {
  flex-flow: column;
  padding: 20px 20px;
  background: #FFC20E;
  color: #00344D;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25; }

.nav-links a:hover {
  background: #00344D;
  color: white; }

.nav-link {
  margin-bottom: 5px; }

.nav-stars {
  height: 20px;
  margin: 10px 0; }

.nav-star {
  flex: 1 0 0;
  margin: 0 5px;
  background: no-repeat;
  background-size: 100%; }

.nav-star:first-child {
  margin-left: 0; }

.nav-star:last-child {
  margin-right: 0; }

.nav-star.star-blue {
  background-image: url(/images/star-blue.svg); }

.nav-star.star-red {
  background-image: url(/images/star-red.svg); }

@media (max-width: 664px) {
  .main-wrapper {
    flex-flow: column; }
  .main-content {
    flex: 0 0 auto; }
  nav.main-nav {
    flex: 0 0 auto;
    max-width: none; } }

.splash-wrapper {
  flex: 1 0 0;
  justify-content: center; }

.splash {
  flex: 1 0 0;
  flex-flow: column;
  max-width: 900px; }

.splash-logo {
  flex: 0 0 auto;
  height: 70vh;
  margin: 20px;
  background: url(/images/logo.svg) center no-repeat;
  background-size: contain; }

.splash-songs {
  display: inherit;
  align-self: center;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  padding: 0; }

.splash-song {
  display: inherit;
  width: 410px;
  margin: 0 20px 20px; }

.splash-song-item {
  display: inherit;
  flex: 1 0 0;
  align-items: flex-start; }

.splash-song-number {
  font-family: "Teko", sans-serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  color: #00344D; }

.splash-song-info {
  margin: 0 20px;
  flex: 1 0 0;
  flex-flow: column; }

.splash-song-title, .splash-song-artist {
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: bold; }

.splash-song-artist {
  color: #EF4123; }

.splash-song-title {
  font-style: italic;
  color: #00344D; }

.splash-song-title::before {
  content: '“'; }

.splash-song-title::after {
  content: '”'; }

.splash-song-arrow {
  width: 28px;
  height: 68px;
  background: url(/images/arrow-back.svg) no-repeat center;
  background-size: contain; }

.splash-song:hover .splash-song-arrow {
  background-image: url(/images/arrow-back-star.svg); }

@media (max-width: 900px) {
  .splash-songs {
    flex-flow: column;
    align-items: stretch;
    max-width: 400px; }
  .splash-song {
    margin: 0 0 20px;
    width: 400px; } }

@media (max-width: 400px) {
  .splash-songs {
    align-self: stretch;
    padding: 0 20px; }
  .splash-song {
    width: initial; } }

.song {
  flex-flow: column;
  padding: 40px 20px;
  min-width: 0; }

.song-day {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  margin: 0; }

.song-artist, .song-title {
  min-width: 0;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  font-size: 92px;
  line-height: 1;
  letter-spacing: 2px;
  overflow-wrap: break-word; }

.song-artist {
  text-transform: uppercase;
  color: #EF4123;
  margin: 0; }

.song-title {
  margin: 0;
  font-style: italic;
  color: #00344D; }

.song-title::before {
  content: '“'; }

.song-title::after {
  content: '”'; }

.song-widget {
  margin: 29px 0 20px; }

.song-info {
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.25; }

.song-info-col1 {
  flex: 0 0 220px;
  flex-flow: column;
  margin-right: 40px; }

.song-image {
  width: 220px;
  margin-top: 10px; }

.song-bio {
  margin-top: 20px;
  line-height: 1.25;
  font-size: 14px;
  font-family: Georgia, serif;
  background: #FFC20E;
  padding: 20px; }

.song-info-col2 {
  flex: 1 0 0;
  flex-flow: column;
  font-family: Georgia, serif; }

.song-quote {
  margin: 10px 0 20px;
  font-size: 22px;
  font-style: italic; }

.song-quote::before {
  content: '“'; }

.song-quote::after {
  content: '”'; }

.song-lyrics-label {
  margin-top: 10px;
  font-size: 22px;
  color: red;
  text-transform: uppercase; }

.song-lyrics {
  white-space: pre-wrap; }

@media (max-width: 800px) {
  .song-info {
    flex-flow: column; }
  .song-info-col1, .song-info-col2 {
    flex: 1 0 auto;
    margin: 0; }
  .song-image {
    align-self: center; } }

@media (max-width: 500px) {
  .song-artist, .song-title {
    font-size: 64px; } }

.main .page {
  display: block;
  flex: 1 0 0;
  padding: 3px 20px 20px;
  font-family: Georgia, serif;
  line-height: 1.25;
  font-size: 16px; }

.main .page h1 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 92px;
  margin: 0;
  color: #00344D; }
