@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100%;
  min-width: 0;
  font-family: 'Helvetica Neue', sans-serif; }

.main div {
  display: inherit; }

.main-wrapper {
  flex: 1 0 auto;
  justify-content: space-between;
  max-width: 1000px;
  min-width: 0; }

.main-content {
  flex: 1 0 0;
  min-width: 0; }

.nav-fixed-space {
  position: relative;
  width: 200px;
  margin: 0 20px; }

.nav-fixed {
  position: fixed;
  width: 200px;
  height: 100vh;
  align-items: center; }

.nav-fixed.unpin {
  position: absolute;
  bottom: 0; }

nav.main-nav {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%; }

.nav-top {
  background: #FFC20E;
  height: 120px;
  margin-bottom: 10px; }

.nav-song-links-arrows {
  justify-content: space-between;
  height: 60px;
  margin: 10px 0; }

.nav-arrow-left, .nav-arrow-right {
  background: no-repeat;
  background-image: url(/images/arrow-back.svg), url(/images/arrow-back-star.svg);
  background-position: center, -100px;
  background-size: contain;
  width: 30px;
  cursor: pointer; }

.nav-arrow-right {
  background-image: url(/images/arrow.svg), url(/images/arrow-star.svg); }

.nav-arrow-left:hover {
  background-image: url(/images/arrow-back-star.svg); }

.nav-arrow-right:hover {
  background-image: url(/images/arrow-star.svg); }

.nav-arrow-number {
  margin-top: -7px;
  font-family: "Teko", sans-serif;
  font-size: 60px;
  color: #EF4123; }

.nav-arrow-blank {
  width: 30px; }

.nav-song-links {
  display: none; }

.nav-dot {
  margin: 0 10px; }

.nav-links {
  flex: 1 0 auto;
  flex-flow: column;
  padding: 16px 20px;
  background-color: #FFC20E;
  color: #00344D;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25; }

.nav-links a:hover {
  background: #00344D;
  color: white; }

.nav-link {
  padding: 4px 0; }

.nav-stars {
  height: 20px;
  margin: 10px 0; }

.nav-star {
  flex: 1 0 0;
  margin: 0 5px;
  background: no-repeat;
  background-size: 100%; }

.nav-star:first-child {
  margin-left: 0; }

.nav-star:last-child {
  margin-right: 0; }

.nav-star.star-blue {
  background-image: url(/images/star-blue.svg); }

.nav-star.star-red {
  background-image: url(/images/star-red.svg); }

.nav-star.mobile {
  display: none; }

.footer {
  position: relative;
  z-index: 1;
  display: inherit;
  height: 40px;
  padding: 20px 0;
  justify-content: center;
  align-self: stretch; }

.footer-eagle {
  width: 40px;
  background: url(/images/eagle.svg) center no-repeat;
  background-size: contain; }

@media (max-width: 664px) {
  .main-wrapper {
    flex-flow: column; }
  .main-content {
    flex: 0 0 auto; }
  .nav-fixed-space {
    flex: 0 0 auto;
    width: auto;
    margin: 20px 0; }
  .nav-fixed, .nav-fixed.unpin {
    position: static;
    height: auto;
    flex: 1 0 0; }
  nav.main-nav {
    flex: 1 0 0;
    max-width: none;
    width: auto;
    padding: 0 20px; }
  .main .nav-top {
    display: none; }
  .nav-logo-link {
    text-align: center; }
  .nav-logo-img {
    max-width: 200px; }
  .nav-star.mobile {
    display: inherit; }
  .nav-links {
    flex: 0 0 auto; } }

.splash-wrapper {
  flex: 1 0 0;
  flex-flow: column; }

.splash {
  flex: 1 0 auto;
  flex-flow: column;
  max-width: 900px; }

.splash-header {
  display: inherit;
  align-self: stretch;
  justify-content: center; }

.splash-links {
  position: relative;
  top: 80px;
  flex: 1 0 0;
  flex-flow: row wrap;
  max-width: 860px;
  justify-content: space-between;
  padding: 20px 20px 0;
  color: #00344D;
  font-family: "Teko", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 3px; }

.splash-links a:hover {
  color: #EF4123; }

.splash-logo {
  flex: 0 0 auto;
  margin: -20px 20px 20px; }

.splash-social {
  margin: 20px 0 40px;
  padding: 0 20px;
  flex-flow: row wrap;
  justify-content: space-between; }

.splash-social-link {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 10px;
  background: #efefef;
  cursor: pointer;
  font-weight: bold;
  color: #00344D;
  letter-spacing: 3px; }

.splash-social-link:hover {
  color: #EF4123; }

.splash-social-link:hover .social-use-icon {
  fill: #EF4123; }

.social-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.6em; }

.social-icon.facebook {
  height: 18px; }

.social-use-icon {
  fill: #00344D; }

.splash-songs {
  display: inherit;
  align-self: center;
  flex-flow: row wrap;
  align-items: center;
  list-style-type: none;
  padding: 0; }

.splash-song {
  display: inherit;
  width: 410px;
  margin: 0 20px 20px; }

.splash-song-item {
  display: inherit;
  flex: 1 0 0;
  align-items: flex-start; }

.splash-song-number {
  font-family: "Teko", sans-serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  color: #00344D; }

.splash-song-info {
  margin: 0 20px;
  flex: 1 0 0;
  flex-flow: column; }

.splash-song-title, .splash-song-artist {
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: bold; }

.splash-song-artist {
  color: #EF4123; }

.splash-song-title {
  font-style: italic;
  color: #00344D; }

.splash-song-title::before {
  content: '“'; }

.splash-song-title::after {
  content: '”'; }

.splash-song-arrow {
  width: 28px;
  height: 68px;
  background: no-repeat;
  background-image: url(/images/arrow-back.svg), url(/images/arrow-back-star.svg);
  background-position: center, -1000px;
  background-size: contain; }

.splash-song:hover .splash-song-arrow {
  background-image: url(/images/arrow-back-star.svg); }

@media (max-width: 900px) {
  .splash-links {
    position: static; }
  .splash-logo {
    margin-top: 20px; }
  .splash-social {
    margin: 0 0 20px; }
  .splash-social-link {
    background: none !important;
    padding: 0; }
  .splash-social-link svg {
    margin: 0; }
  .splash-social-link span {
    display: none; }
  .splash-songs {
    flex-flow: column;
    align-items: stretch;
    max-width: 400px; }
  .splash-song {
    margin: 0 0 20px;
    width: 400px; } }

@media (max-width: 400px) {
  .splash-songs {
    align-self: stretch;
    padding: 0 20px; }
  .splash-song {
    width: initial; } }

@media (max-width: 360px) {
  .splash-links {
    flex-flow: column;
    line-height: 1.2; } }

.song {
  flex-flow: column;
  padding: 40px 20px;
  min-width: 0; }

.song-day {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  margin: 0; }

.song-artist, .song-title {
  min-width: 0;
  font-family: "Teko", sans-serif;
  font-weight: 800;
  font-size: 92px;
  line-height: 1;
  letter-spacing: 2px;
  overflow-wrap: break-word; }

.song-artist {
  text-transform: uppercase;
  color: #EF4123;
  margin: 0; }

.song-title {
  margin: 0;
  font-style: italic;
  color: #00344D; }

.song-title::before {
  content: '“'; }

.song-title::after {
  content: '”'; }

.song-video {
  margin: 20px 0 0; }

.song-widget {
  margin: 20px 0 20px; }

.song-info {
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.25; }

.song-info-col1 {
  flex: 0 0 220px;
  flex-flow: column;
  margin-right: 40px; }

.song-image {
  width: 220px;
  height: 220px;
  background: center;
  background-size: cover;
  margin-top: 10px;
  border-radius: 50%; }

.song-bio {
  margin-top: 20px;
  line-height: 1.25;
  font-size: 14px;
  font-family: Georgia, serif;
  background: #FFC20E;
  padding: 20px; }

.song-info-col2 {
  flex: 1 0 0;
  flex-flow: column;
  font-family: Georgia, serif; }

.main .song-quote {
  display: block;
  position: relative;
  margin: 10px 0 0;
  padding: 0 0 0 50px;
  font-size: 22px;
  font-style: italic; }

.song-quote::before {
  content: '“';
  position: absolute;
  left: -10px;
  top: -25px;
  font-size: 120px;
  color: #efefef; }

.song-lyrics-label {
  margin-top: 10px;
  font-size: 22px;
  color: red;
  text-transform: uppercase; }

.song-lyrics {
  white-space: pre-wrap; }

@media (max-width: 800px) {
  .song-info {
    flex-flow: column; }
  .song-info-col1, .song-info-col2 {
    flex: 1 0 auto;
    margin: 0; }
  .song-image {
    align-self: center; } }

@media (max-width: 500px) {
  .song-artist, .song-title {
    font-size: 64px; } }

.main .page {
  display: block;
  flex: 1 0 0;
  padding: 3px 20px 20px;
  font-family: Georgia, serif;
  line-height: 1.25;
  font-size: 16px; }

.main .page h1 {
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  font-size: 92px;
  margin: 0;
  color: #00344D; }

.main .page strong a {
  color: #EF4123; }

.main .page strong a:hover {
  color: #00344D; }

.main .page a:hover {
  color: #EF4123; }
